   body {
       font-family: sans-serif;
       margin-top: -20px;
   }
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p {
       margin-bottom: 10px;
   }
   header {
       background-color: #686868;
       color: #fff;
       border-bottom: 5px solid #989898;
   }
   input {
       height: 20px
   }
   form {
       text-align: center;
   }
   label {
       text-align: left;
   }
   article {
       margin-bottom: 100px;
       width: 80%;
       display: inline-block;
   }
   .blogTitle {
       float: left;
       margin-bottom: 0px;
       margin-left: 20px;
   }
   .blogDate {
       float: right;
       margin-right: 20px;
   }
   .blogheader {
       border-bottom: 5px solid #989898;
       margin-bottom: 20px;
   }
   .flex {
       display: flex;
   }
   .text-center {
       text-align: center;
   }
   .errorMsg {
       color: red;
       margin-left: 10px;
   }
   .row {
       display: block;
       margin-bottom: 30px;
   }
   .inputarea {
       display: block;
       width: 400px;
       margin-top: 10px;
   }
   .title {
       font-size: 20px;
   }
   .container {
       margin-top: 40px;
   }
   .button {
       width: 100px;
       margin-right: 10px;
       margin-left: 10px;
   }
   .blogDescription {
       text-align: left;
       margin-left: 20px;
   }
   .logo {
    float: left;
   }
   .userform {
    float: right;
    display: flex;
    margin-top: 40px;
   }

   .inputarea {
       display: block;
       width: 100px;
       margin-top: 20px;
   }
   .blogInput{
       width: 200px;
   }
   .blogDescInput {
    width: 700px;
   }
   #loginsubmit{
float: left;
   }
   #signupinput {
    clear: both;
    float: left;
   }
   #loginerror {
    text-align: left;
    margin-bottom:10px;
   }